@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;700&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;700&display=swap');



h1 {  
  font-size: 20px !important;
  color: #000;
  text-decoration: underline solid 3px; 
}

nav {
  background: rgba(255, 255, 255, 0.288);
  padding: 0;
  margin: 0;
}

.nav-bar li {
  color: #000;
  list-style: none;  
}

.navbar-toggler-icon {
  color: #000;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 400; 
}

@media (max-width: 540px) {
  .nav-item a  {    
    color: #000;
    text-decoration: underline;
    width: 200px;
  }
}

.nav-item a:hover {
  text-decoration: underline solid 2px #000;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding:0 ;
  background: linear-gradient(315deg, rgba(202, 131, 0, 0.781) 11%, rgb(185, 197, 185) 48%, rgb(6, 252, 252) 58%, rgb(209, 209, 54) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.menu {
  margin-left: auto;  
}
.menu li {
  padding: 0 10px;
}

.titulo { 
  padding: 0 10px;
  font-size: 14px;
  font-weight: 800;
}


.skill li {
  display: inline-block;
  list-style: none;
  margin: 4px;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 540px) {
  .skill li {
    display: inline-block;
    list-style: none;
    margin: 4px;
    font-size: 12px;
    font-weight: 600;
  }
}

.set-list {
  padding: 0;
  margin: 0;
}

.portafolio h2 {
  font-size: 30px;
}

.portafolio h2:hover {
  text-decoration: underline solid 2px;
}

.card  img {  
  height: 177.967;  
}

.body-card a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px; 
  margin-bottom: 10px;
}

.card a:hover {
  text-decoration: underline;
}

.body-card {
  background-color: rgba(248, 244, 244, 0.815);
  color: rgb(17, 17, 17);
}

.body-card h4 {
  text-align: left;
  margin-left: 10px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.body-card p {
  font-size: 14px;
  margin-left: 10px;
}

.servicios li {
  font-size: 18px;  
  line-height: 2.5rem;
}

.contacto {
  height: 40vh;
}

.datos {
  padding: 0;
  margin: 0;
}

.contacto li {
  list-style: none;
}

.redes div {
  display: inline-block;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 22px;
  font-weight: bolder;
  border: none;
  outline: none;  
  color: #000;
  background-color: rgba(0, 0, 0, 0.37);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.idioma button {
  background-color: transparent;  
  border: none;
  color: #000; 
  text-decoration: underline;
 
}